# Xcode
DerivedData/
build/
xcuserdata/
*.xcscmblueprint
*.xccheckout

# SwiftPM
.swiftpm/
.build/

# macOS
.DS_Store

# Config
Config/Environment.plist

# Supabase
supabase/.temp/
supabase/config/supabase.env
.env

# Scripts
scripts/*.log
