<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SupabaseAnonKey</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlubGF5enV6bHN5YW9sdnFkcmdoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ1Njg1MDEsImV4cCI6MjA4MDE0NDUwMX0.tb7XtfTbeaTkYhdiJt-hErssXBp47lUIrCtPo6abzKA</string>
	<key>SupabaseURL</key>
	<string>https://ynlayzuzlsyaolvqdrgh.supabase.co</string>
</dict>
</plist>
